<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
    <title>Simple MOOC</title>
</head>
<body>
<div class="content">
    <div class="pure-g-r content-ribbon" id="contato">
        <div class="pure-u-1">
            <h3>Agendar Recurso</h3>
            <form class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Data</label>
                        <input id="data" type="text" />
                        <ul class="errorlist">
                            <li>Este campo é obrigatório</li>
                        </ul>
                    </div>

                    <div class="pure-control-group">
                        <label for="name">Horario Inicio</label>
                        <input id="Inicio" type="text" />
                        <ul class="errorlist">
                            <li>Este campo é obrigatório</li>
                        </ul>
                    </div>

                    <div class="pure-control-group">
                        <label for="name">Horario Fim</label>
                        <input id="Fim" type="text" />
                        <ul class="errorlist">
                            <li>Este campo é obrigatório</li>
                        </ul>
                    </div>

                    
                    <div class="pure-control-group">
                        <label for="Motivo">Motivo</label>
                        <textarea cols="40" rows="4"></textarea>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="footer">
        Gestao de Recursos PTK
    </div>
</div>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
</html>