<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestao de Recurso" />
    <title>Gestao de Recurso</title>
</head>
<body>
<div class="content">
    <div class="pure-g-r content-ribbon" id="contato">
        <div class="pure-u-1">
            <h3>Agendar Recurso</h3>
            {% if is_valid %}
                <p>Agendado com sucesso</p>
            {% endif%}
            <form class="pure-form pure-form-aligned" method="post">
                {% csrf_token %}   <!-- token de seguranca para metodo post -->
                <fieldset>
                    <table>
                    {{ form.as_table }}    <!-- mostra o frm_agendamento -->
                    </table>
                    
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="footer">
        Gestao de Recursos PTK
    </div>
</div>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
</html>