<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>PTK Gestão de Recursos</title>

    <link rel="icon" type="img/ico" href="{% static 'assets/img/favicon.ico' %}">
    <link href="{% static 'assets/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/toastr.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="{% static 'assets/img/logo-mini.jpg' %}" class="logo-ptk">
            Gestão de Recursos
          </a>
        </div>
      </div>
    </nav>

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <div class="container">
      <div class="login-box">
        <form class="form-horizontal" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group" >
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
          </div>
          <div class="form-group">
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
          </div>
          <button id="login" type="submit" class="btn btn-primary" >Entrar</button>
<!--          <input type="submit" value="login" /> !-->
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>

    <div class="bottom-container">
      <img alt="Brand" src="{% static 'assets/img/logo-full.jpg">
    </div>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/toastr.min.js' %}"></script>
    <script src="{% static 'assets/js/app/login.js' %}"></script>

  </body>
</html>
